@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  margin: 20px;
  font-family: "Open Sans" sans-serif;
}

.phone {
  width: 300px;
  height: 600px;
  background-color: #eee;
  border: 10px solid #ffffff;
  border-radius: 35px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.header .header__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 30px 10px;
  font-size: 14px;
  font-weight: 600;
}

.popular {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0px 10px 25px 10px;
  font-size: 12px;
  font-weight: 700;
}

.popular .popular__column2 {
  color: #ea606e;
}

.vertual-picture {
  margin: 0px 5px 18px 22px;
  height: 100%;
}

.vertual-picture .pictures {
  width: 300px;
  height: 180px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.picture .picture__title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
  color: white;
  text-shadow: 2px 2px 6px gray;
}

.pictures .picture:nth-child(1) {
  background-image: linear-gradient(
      rgba(241, 242, 246, 0.2),
      rgb(0, 0, 0, 0.5) 90%
    ),
    url(image/homecafe.jpg);
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 80px;
}

.pictures .picture:nth-child(2) {
  background-image: linear-gradient(
      rgba(241, 242, 246, 0.2),
      rgb(0, 0, 0, 0.5) 90%
    ),
    url(image/homebaking.jpg);
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 80px;
  position: relative;
  left: 15px;
}

.pictures .picture:nth-child(3) {
  background-image: linear-gradient(
      rgba(241, 242, 246, 0.2),
      rgb(0, 0, 0, 0.5) 90%
    ),
    url(image/ade.jpg);
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 80px;
}

.pictures .picture:nth-child(4) {
  background-image: linear-gradient(
      rgba(241, 242, 246, 0.2),
      rgb(0, 0, 0, 0.5) 90%
    ),
    url(image/vegan.jpg);
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 80px;
  position: relative;
  left: 15px;
}

.other {
  margin: 0px 10px 10px 10px;
}

.other .other-column {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
}

.other .other__list .list__recipes {
  margin: 10px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__recipes i {
  color: #ea606e;
}

.other .other__list .list__recipes .recipes_title {
  padding-bottom: 3px;
  font-weight: 700;
}

.nav .nav__lists {
  display: flex;
  justify-content: space-around;
}

.nav__lists .nav__list a {
  text-decoration: none;
  color: #111919;
}

.nav__lists .nav__list:nth-child(2) a {
  color: #ea606e;
}
