@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  margin: 20px;
  font-family: "Open Sans" sans-serif;
}

.phone {
  width: 300px;
  height: 600px;
  background-color: #ebebeb;
  border: 10px solid #ffffff;
  border-radius: 35px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.header .header__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 30px 10px;
  font-size: 14px;
  font-weight: 600;
}

.popular {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0px 10px 30px 10px;
  font-size: 12px;
  font-weight: 700;
}

.popular .popular__column2 {
  color: #ea606e;
}

.vertual-picture {
  margin: 50px 0px 50px 15px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.picture .picture__title {
  position: relative;
  margin: auto 0;
  bottom: 45px;
  left: 20px;
  right: 0px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.other {
  margin: 0px 10px 30px 10px;
}

.other .other-column {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
}

.other .other__list .list__recipes {
  margin: 10px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  font-size: 12px;
}

.other .other__list .list__recipes .recipes_title {
  padding-bottom: 3px;
  font-weight: 700;
}

.nav .nav__list {
  width: 100%;
  height: 100%;
  width: 300px;
  color: grey;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  margin-right: 80px;
  padding: 10px;
}
